
:root {
  --color-bg: #F0EEED;          
  --color-bg-dark: #18181B;

  --color-surface-dark: #27272A;

  --color-text: #1c1d20;        
  --color-text-dark: #ffffff;        
  --color-text-muted: #999da0;  

  --color-btn-bg-primary: #242424;
  --color-btn-primary-icon-bg: #414141;
  --color-btn-bg-secondary: #F9F9FC;
  --color-btn-secondary-icon-bg: #F0EEED;
  --color-btn-secondary-border: #e1e1e1;

  --color-green : #A1FF62;
  --color-blue: #6840FF;
  --color-red: #F84131;

  --pad-page-x: 4rem;            
  --pad-page-y: 8rem;            
  --radius-button: 10rem;        
  --radius-card: 0.5rem;         

  --ease-snellenberg: cubic-bezier(0.76, 0, 0.24, 1);
  --trans-smooth: 0.5s var(--ease-snellenberg);
  --trans-fast: 0.25s var(--ease-snellenberg);
}

@media screen and (max-width: 991px) {
  :root {
    --pad-page-x: 2rem;         
    --pad-page-y: 5rem;
  }
}