/* Base Styles */
@import url("./base/scaling.css");
@import url("./base/tokens.css");
@import url("./base/fonts.css");

/* Components */
@import url('./components/navbar.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family:  'hafermonoregular' ,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: calc(var(--sfu)* 1);
  overflow-x: hidden;
  width: 100%;
}

#view-container {
  padding: 0 calc(var(--sfu)*2);
  min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

::-webkit-scrollbar { 
  display: none;
}
