 #menu-switch:checked~ #menu .hamburger-icon .line-top {
     transform: translateY(4px) rotate(45deg);
 }

 #menu-switch:checked~ #menu .hamburger-icon .line-bottom {
     transform: translateY(-4px) rotate(-45deg);
 }

 #menu-switch:checked~ #menu .hamburger-icon .bg-active {
     transform: translateY(0) !important;
 }

 #menu-switch:checked~  #menu .hamburger-icon {
     top: calc(var(--sfu)*1) !important;
     right: calc(var(--sfu)*1) !important;
 }

#menu-switch:checked ~ .bg-wrapper  {
    opacity: 1 !important;
    pointer-events: all !important;
 }

 #menu-switch:checked~ #menu {
     height: calc(var(--sfu)*30) !important;
     width: calc(var(--sfu)*23) !important;
     border-radius: calc(var(--sfu)*1) !important;
     justify-content: space-between !important;
     padding: calc(var(--sfu)*2) !important;
 }

 #menu a {
     position: relative;
     opacity: 0;
     top: calc(var(--sfu)*-.25);
     transform: rotateY('-50deg');
     transition: all .3s cubic-bezier(0.76, 0, 0.24, 1);
     transition-delay: .0s;
 }

 #menu-switch:checked~ #menu a {
     transform: rotateY('0deg');
     top: 0em;
     opacity: 1;
 }

 #menu-switch:checked~ #menu a:nth-child(1) {
     transition-delay: .3s;
 }

 #menu-switch:checked~ #menu a:nth-child(2) {
     transition-delay: .35s;
 }

 #menu-switch:checked~ #menu a:nth-child(3) {
     transition-delay: .4s;
 }

 #menu-switch:checked~ #menu a:nth-child(4) {
     transition-delay: .45s;
 }

 @media (max-width: 768px) {

     .nav-links,
     .nav-btn {
         display: none !important;
     }


     #menu {
         top: calc(var(--sfu)*1) !important;
         right: calc(var(--sfu)*1) !important;
     }

     #menu-switch:checked~ #menu {
         width: 90vw !important;
     }
 }

 @media (min-width: 769px) {
     #menu {
         scale: 0 !important;
     }

     #menu.is-visible {
         scale: 1 !important;
     }
 }